<h1 class='page-header'>Edit Sh##t</h1>

<div class="show-hide-message">
    <div [ngClass]="messageClass">
        {{message}}
    </div>
</div>


<form [formGroup]="form" name="blogForm" (submit)="onBlogSubmit()" *ngIf="!message">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" name="title" class="form-control" autocomplete="off" placeholder="*Title (5 to 50 characters)" formControlName="title"
        [ngClass]="{'is-invalid': form.controls.title.dirty && (form.controls.title.errors), 'is-valid': !form.controls.title.errors }"
        >
    </div>
    <div class="form-group">
        <textarea class="form-control" rows="3" placeholder="*Body (5 to 500 characters)"
        formControlName="body"
        [ngClass]="{'is-invalid': form.controls.body.dirty && (form.controls.body.errors), 'is-valid': !form.controls.body.errors }"
        ></textarea>
    </div>
    <input [disabled]="!form.valid || processing" type="submit" class="btn btn-primary btn-sm" value="Submit" />
    <button type="button" class="btn btn-danger btn-sm" (click)="onBlogCancel()">Back</button>
</form>