
	  <!-- <h4 class="card-title">Primary card title</h4>
	  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
<h2>Scrap Sk##tch</h2>	  
<button id="clearButton" type="button" class="btn btn-primary btn-sm" (click)="onClickClear()">Clear!</button>
<canvas id="sketchpad"></canvas>

<footer class="page-footer font-small stylish-color-dark pt-4 mt-4">
	Paul Wangdali Jr <br/>
	MEAN Stack <br/>
	Theme by Bootswatch Sketchy
</footer>