<h1 class='page-header'>Sh##t feed</h1>

<div class="show-hide-message">
    <div [ngClass]="messageClass">
        {{message}}
    </div>
</div>


<div id="deleteModal" class="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Are you sure you want to delete?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{blogDeleteTitle}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onConfirmDeleteBlog()">Delete!</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<button type="button" name="button" class="btn btn-warning btn-sm" *ngIf="!newPost"
(click)="newBlogForm()">New Post</button>
<button [disabled]="loadingBlog" type="button" name="button" class="btn btn-default btn-sm" *ngIf="!newPost"
(click)="reloadBlog()">Reload</button>

<form [formGroup]="form" name="blogForm" (submit)="onBlogSubmit()" *ngIf="newPost">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" name="title" class="form-control" autocomplete="off" placeholder="*Title (5 to 50 characters)" formControlName="title"
        [ngClass]="{'is-invalid': form.controls.title.dirty && (form.controls.title.errors), 'is-valid': !form.controls.title.errors }"
        >
    </div>
    <div class="form-group">
        <textarea class="form-control" rows="3" placeholder="*Body (5 to 500 characters)"
        formControlName="body"
        [ngClass]="{'is-invalid': form.controls.body.dirty && (form.controls.body.errors), 'is-valid': !form.controls.body.errors }"
        ></textarea>
    </div>
    <input [disabled]="!form.valid || processing" type="submit" class="btn btn-primary btn-sm" value="Submit" />
    <button type="button" class="btn btn-danger btn-sm" (click)="onBlogCancel()">Back</button>
</form>

<!-- <div *ngIf="!newPost">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Post Title</h3>
        </div>
        <div class="panel-body">
            AklasjdaskjdKLJASDAS^%&*(p0aopokdsaldjasdnsakdhsajkxnasjdnsakjdn)
        </div>
        <div class="panel-footer">
            <p><strong>Posted by </strong> Wang</p>
            <p><strong>Date </strong> Dec. 12, 2012</p>
            <div>
                <p>
                    <strong>Likes: </strong>9999
                </p>
                <p>
                    <strong>Dislikes: </strong>6
                </p>
            </div>
        </div>
    </div>
</div> -->
<br><br>
<div class="container" *ngIf="!newPost">
    <div class="card mb-3" *ngFor="let blog of blogs">
        <h4 class="card-header">{{blog.title}}</h4>
        <div class="card-body">
            <p class="card-text">{{blog.body}}</p>
        </div>
        <div class="card-footer text-muted">            
            <a *ngIf="username === blog.createdBy" [routerLink]="['/edit-blog/', blog._id]"><button type="button" class="btn btn-info">Edit</button></a>
<!-- 
            <a *ngIf="username === blog.createdBy" [routerLink]="['/delete-blog/', blog._id]"><button type="button" class="btn btn-danger">Delete</button></a>
 -->
            <button *ngIf="username === blog.createdBy" type="button" class="btn btn-danger" (click)="onDeleteBlog(blog)" data-toggle="modal" data-target="#deleteModal">Delete</button>

            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                <button type="button" class="btn btn-success" (click)="onClickLikeDislike(blog._id, 0, blog)"
                [disabled]="blog.likedBy.includes(username)"
                >Like!</button>
                <div class="btn-group show" role="group">
                    <button type="button" class="btn btn-success dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                    [disabled]="!blog.likes"
                    ></button>
                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop2" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 40px, 0px);">
                        <span>Liked by:</span>
                        <a *ngFor="let liked of blog.likedBy" class="dropdown-item" href='#'>{{liked}}</a>                    
                    </div>
                </div>
            </div>

            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                <button type="button" class="btn btn-danger" (click)="onClickLikeDislike(blog._id, 1)"
                [disabled]="blog.dislikedBy.includes(username)"
                >Dislike!</button>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-danger dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                    [disabled]="!blog.dislikes"
                    ></button>
                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop4" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 40px, 0px);">
                        <span>Disliked by:</span>
                        <a *ngFor="let disliked of blog.dislikedBy" class="dropdown-item" href='#'>{{disliked}}</a>   
                    </div>
                </div>
            </div>
            <strong>Likes: </strong> {{blog.likes}}
            <strong>Dislikes: </strong> {{blog.dislikes}}
            <strong>Posted by: </strong> {{blog.createdBy}}
            <strong>Date: </strong> {{blog.createdAt | date: 'MMM dd, yyyy'}}
            <ul *ngIf="blog.comments[0]" class="list-group list-group-flush postcomments">
                <li class="list-group-item comment-header"><p class="mb-0">Comments</p></li>
                <li class="list-group-item post-comment-item">
                    <p *ngFor="let comments of blog.comments" class="mb-0 text-primary">{{comments.comment}}
                        -{{comments.commentBy}} @{{comments.commentAt | date: 'MMM dd, yyyy'}}
                </li>
            </ul>

            <div class="card-footer text-muted">
                <textarea class="form-control" [(ngModel)]="blog.comment" rows="1"></textarea>
                <button [disabled]="postCommentDisabled" type="button" class="btn btn-primary" (click)="onClickPostComment(blog)">Post Comment</button>
            </div>

        </div>    
    </div>
</div>